.aff-is-author {
  &.is-expert {
    .heading {
      align-items: flex-start;

      .name {
        a {
          display: inline-flex;
          align-items: flex-start;
          white-space: nowrap;
        }

        svg {
          margin-left: 5px;
        }
      }
    }
  }
}

.author-expert {
  flex-grow: 1;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 2vw;
  }

  &__item {
    margin-right: 2vw;
    display: flex;
    align-items: center;
    white-space: nowrap;

    svg {
      flex: 0 0 22px;
      margin-right: 4px;
    }

    span {
      flex: 0 0 calc(100% - 26px);
    }
  }
}

@media screen and (min-width: 1200px) {
  .aff-is-author.is-expert .heading .cta {
    flex-grow: inherit !important;
  }
}

@media screen and (max-width: 1199px) {
  .aff-is-author {
    &.is-expert {
      .heading {
        flex-wrap: wrap;
      }
    }
  }

  .author-expert {
    flex: 0 0 100%;
    order: 3;

    &__wrap {
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: 5px;
      margin-left: 0;
    }

    &__item {
      margin-right: 25px;
      margin-top: 7px;
    }
  }
}

@media screen and (max-width: 575px) {
  .author-expert {
    &__item {
      align-items: flex-start;
      white-space: pre-wrap;
      width: 100%;
      margin-right: 0;

      svg {
        margin-top: 5px;
      }
    }
  }
}