.aff-text-icon .icon img {
  opacity: 1;
}

.aff-sidebar .offer .card-wrapper .card .cta a {
  width: 100%;
}

/* fix logo */
.aff-header .logo {
  max-width: 270px;
}

.custom-sroll-bar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.custom-sroll-bar::-webkit-scrollbar-thumb {
  background: #e8e8e8;
  border-radius: 4px;
}

@media (max-width: 1024px) {
  .aff-header .logo {
    max-width: 250px;
  }
}

@media (max-width: 767px) {
  .aff-header .content {
    padding: 8px 16px;
  }

  .aff-header.is-mobile .logo {
    height: auto;
    max-height: none;
  }

  .aff-header.is-mobile .logo > a {
    max-height: inherit;
  }

  .aff-header.is-mobile .logo img {
    max-width: 100%;
    max-height: none;
    height: auto;
  }
}

@media (max-width: 414px) {
  .aff-profile-wrapper .aff-header .controls {
    right: 10px;
  }
  .aff-header .logo {
    max-width: 50%;
  }
}