.aff-custom-menu.aff-page-menu {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.aff-page-menu .inner {
  background-color: #fff;
  margin: 0;
  padding: 25px 40px;
}

.aff-page-menu h2 {
  margin-top: 0;
}

.aff-page-menu .menu {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  height: 60px;
}

.aff-page-menu.aff-custom-menu .menu ul {
  flex-wrap: nowrap;
  justify-content: flex-start;
  // background: #F9F9F9;
}

.aff-page-menu.aff-custom-menu .menu ul li {
  margin: 0!important;
  // background: #F9F9F9;
  padding: 0 3px!important;
}


.aff-page-menu.aff-custom-menu .menu ul a {
  white-space: nowrap;
  transition: all 0.4s linear;
  font-size: 18px;
  padding: 0.5556em 0.6667em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// .aff-page-menu.aff-custom-menu .menu ul a.active {
//   background: #F8EAD5;
// }

.aff-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 102;
}

.aff-header.transparent-header {
  background: transparent !important;
}

.aff-header.fixed.transparent-header,
.aff-header.fixed {
  background: #0c071c !important;
  position: fixed;
}

.aff-page-wrapper {
  padding-top: 96px;
}

.aff-header.fixed .content {
  min-height: 70px;
}

.aff-header.fixed .menu {
  padding-bottom: 4px;
}

.aff-custom-menu.aff-page-menu.fixed {
  position: fixed;
  top: 70px;
  z-index: 101;
  width: 100%;
  margin: 0;
  padding: 0;
}

.aff-main-items-grid .item .aff-fav {
	z-index: 90;}

  .aff-page-menu .inner {
    padding-bottom: 10px;
}


@media only screen and (min-width: 992px) {
  .admin-bar .aff-header {
    top: 32px;
  }

  .admin-bar .aff-custom-menu.aff-page-menu.fixed {
    top: 100px;
  }

  .aff-page-wrapper {
    padding-top: 96px;
  }

}


// @media (hover: hover) {
//   .aff-page-menu.aff-custom-menu .menu ul a:not(.active):hover {
//     background: #FAF2E5;
//   }
// }

@media only screen and (max-width: 991px) {
  .aff-page-wrapper {
    padding-top: 70px;
  }
}
@media only screen and (max-width: 767px) {
  .aff-header-title {
    margin-bottom: 0;
  }

  .aff-page-menu .inner {
    padding: 20px 20px 0;
  }

}