.aff-custom-menu.aff-page-menu {
  padding: 10px 0;
  margin-top: 25px;
  margin-bottom: -25px;
}

.aff-page-menu .inner{
  background-color: #fff;
  margin: 0 -30px;
  padding: 25px 30px;
}

.aff-page-menu h2 {
  margin-top: 0;
}

.aff-page-menu .menu {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  height: 60px;
}

.aff-page-menu .menu::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.aff-page-menu .menu::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 4px;
}

.aff-page-menu.aff-custom-menu .menu ul {
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.aff-page-menu.aff-custom-menu .menu ul li {
  margin: 0 3px !important;
}

.aff-page-menu.aff-custom-menu .menu ul a {
  white-space: nowrap;
  transition: all 0.4s linear;
  font-size: 18px;
  padding: 0.5556em 0.6667em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.aff-page-menu.aff-custom-menu .menu ul a.active {
  background: #F8EAD5;
}

@media (hover: hover) {
  .aff-page-menu.aff-custom-menu .menu ul a:not(.active):hover {
    background: #FAF2E5;
  }
}

@media screen and (min-width: 768px) {
  .aff-custom-menu.aff-page-menu {
    margin-top: 60px;
    margin-bottom: 0;
  }
}