@import "fixes";
@import "author-expert";
@import "title-meta";
@import "page-menu";
@import "soc-links";
@import "awards";
@import "logos";
@import "top-products";
@import "product";

html,
body {
  scroll-behavior: smooth;
}


.to-top {
  position: fixed;
  /*z-index: 10000001;*/
  z-index: 1034;
  width: 60px;
  height: 60px;
  right: 25px;
  bottom: 44px;
  background: #dd9933;
  color: #ffffff;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s;

  svg {
    width: 50%;
    height: 50%;
    transform: rotate(90deg);
  }

  &:hover {
    opacity: 0.8;
  }

  &.show {
    display: flex;
  }
}

body {
  &.hidden-scroll {
    .to-top {
      display: none;
    }
  }
}

.archive {
  .aff-is-author {
    margin-top: 60px;
  }
}

.aff-footer {
  padding-bottom: 10px;

  .footer-widgets .widget {
    margin-bottom: 40px;
  }

  .widget_nav_menu {
    .wpml-ls-legacy-dropdown-click {
      width: 6em;

      a {
        border: none;
      }

      ul {
        display: block !important;

        li {
          background: transparent !important;

          a {
            display: block;
            padding-left: 5px;
            padding-right: 5px;
            color: inherit !important;
          }
        }

        li.wpml-ls-current-language>a {
          color: #fff !important;
          transition: color 0.3s ease-in-out;
          padding: 8px 8px;
          border: none;
          border-radius: 3px;
          background: #111111;
        }


      }

      .wpml-ls-sub-menu {
        top: calc(100% + 4px);
        border-top: 1px solid #111;
        border-radius: 3px;
        overflow: hidden;

        a {
          color: #e7a736 !important;
          opacity: 1;
          padding: 7px 8px;
        }

      }
      .wpml-ls-flag {
        width: 28px;
        height: 20px;
      }

      .wpml-ls-item-toggle span {
        margin-left: 0.47em;
      }

      a.wpml-ls-item-toggle:after {
        border: 0.3em solid transparent;
        border-top: 0.3em solid #fff;
        top: calc(50% - 0.12em);
      }

      a.wpml-ls-item-toggle.wpml-open:after {
        border-top: 0.3em solid transparent;
        border-bottom: 0.3em solid #fff;
        top: calc(50% - 0.512em);
      }

      a:hover {
        color: #fff !important;
        background: #111111;
      }

      a:focus {
        color: #fff !important;
        background: #111111;
      }

      .wpml-ls-current-language:hover>a {
        color: #fff !important;
        background: #111111;
      }

    }
  }
}

.wpml-ls-sidebars-footer-widget-4 a,
.wpml-ls-sidebars-footer-widget-4 .wpml-ls-current-language>a {
  background-color: #111111;
  opacity: 1 !important;
}


.sitemap-links {
  padding: 0 22px;

  &__item {
    margin-top: 40px;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__count {
    position: relative;
    z-index: 2;
    display: inline-flex;
    width: 44px;
    height: 44px;
    background-color: #e7a736;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath fill='%23ffffff' d='M640 264v-16c0-8.84-7.16-16-16-16H344v-40h72c17.67 0 32-14.33 32-32V32c0-17.67-14.33-32-32-32H224c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h72v40H16c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16h104v40H64c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h160c17.67 0 32-14.33 32-32V352c0-17.67-14.33-32-32-32h-56v-40h304v40h-56c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h160c17.67 0 32-14.33 32-32V352c0-17.67-14.33-32-32-32h-56v-40h104c8.84 0 16-7.16 16-16zM256 128V64h128v64H256zm-64 320H96v-64h96v64zm352 0h-96v-64h96v64z'/%3E%3C/svg%3E");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    transform: translateX(-50%);

    &::before {
      content: "";
      position: absolute;
      left: calc(50% - 1px);
      bottom: -40px;
      z-index: -1;
      width: 1px;
      height: 40px;
      background: rgba(0, 0, 0, 0.1);
    }


    &::after {
      content: attr(data-count);
      position: absolute;
      right: 0;
      top: 0;
      width: 24px;
      height: 24px;
      background-color: #000000;
      color: #ffffff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.65em;
      line-height: 1;
      border: 1px solid #ffffff;
      transform: translate(44%, -44%);
    }
  }

  h2 {
    position: relative;
    margin: 0;
  }

  &__list {
    margin-top: 40px;
  }

  &__list-item {
    padding-left: 2.5rem !important;
    position: relative;
    list-style: none;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 17px;
      width: 2.5rem;
      height: 1px;
      background: rgba(0, 0, 0, 0.1);
    }

    &::after {
      content: "";
      position: absolute;
      left: -1px;
      top: 0;
      width: 1px;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
    }

    &:nth-last-of-type(1) {
      &::after {
        height: 17px;
      }
    }

    a {
      position: relative;
      color: inherit;

      &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='13' height='13'%3E%3Cpath fill='%23000000' d='M544 0h-.056l-96.167.167c-28.442.049-42.66 34.539-22.572 54.627l35.272 35.272L163.515 387.03c-4.686 4.686-4.686 12.284 0 16.97l8.484 8.485c4.687 4.686 12.285 4.686 16.971 0l296.964-296.964 35.272 35.272c20.023 20.023 54.578 5.98 54.627-22.572L576 32.055C576.03 14.353 561.675 0 544 0zm-.167 128.167l-96-96L544 32l-.167 96.167zM448 227.681V464c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h323.976c3.183 0 6.235 1.264 8.485 3.515l8 8c7.56 7.56 2.206 20.485-8.485 20.485H48c-8.837 0-16 7.163-16 16v352c0 8.837 7.163 16 16 16h352c8.837 0 16-7.163 16-16V235.68c0-3.183 1.264-6.235 3.515-8.485l8-8c7.559-7.559 20.485-2.205 20.485 8.486z'%3E%3C/path%3E%3C/svg%3E");
        position: relative;
        font-size: 16px;
        margin-right: 8px;
      }
    }
  }

}

.page-template-sitemap .title {
  padding: 30px 0;
}


.aff-news-post-wrapper .aff-post ul.sitemap-links__ul li {
  padding-left: 3rem !important;
  margin-bottom: 0 !important;
}

.aff-copyright {
  .labels {
    img {
      max-width: 60px;
    }
  }

  .content {
    justify-content: space-between;
  }


}

.aff-bottom-cta .name {
  padding-right: 30px;
}

.aff-bottom-close {
  position: absolute;
  right: 8px;
  top: 10px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
}

.aff-bottom-close svg {
  width: 60%;
  height: 60%;
  transition: transform 0.4s ease-out;
}

.aff-bottom-close:hover svg {
  transform: rotate(180deg);
}

.aff-bottom-cta.compare-cta.hide {
  display: none !important;
}

.has-lightbox {
  .aff-menu-btn-mobile {
    z-index: 1021;
  }
}

.sl-overlay {
  z-index: 10035 !important;
}

.sl-wrapper {
  z-index: 10040 !important;
}

.profile {
  display: none;
}

.save {
  top: 35px;
}

.aff-settings .content {
  margin-bottom: 45px;
}

.how-to-image {
  margin: 1rem 0;
}

.footer-text-block {
  line-height: 1.12;
  color: #7A7A7A;
  margin-bottom: 55px;
  font-size: .909rem;

  p {
    margin: 0 0 12px;
    line-height: 1.12;
    font-size: .909rem;
  }

}

.footer-logos {
  margin-bottom: 45px;
}

.footer-logos-inner {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  scrollbar-color: #111111 transparent;
  scrollbar-width: 6px;
  scroll-snap-type: x mandatory;

  a {
    display: inline-block;
    width: fit-content;
    width: -webkit-fit-content;

    a img {
      transition: opacity 0.3s ease;
    }
  }

  a:hover img {
    opacity: 0.9;
  }

  img {
    max-height: 42px;
    width: auto;
    max-width: max-content;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-shrink: 0;
  }

}

.footer-logos-inner::-webkit-scrollbar {
  height: 6px;
  background-color: transparent;
}

.footer-logos-inner::-webkit-scrollbar-thumb {
  background-color: #111;
}

.footer-logos-inner::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}

.social-links {
  display: flex;
  align-items: center;

  a {
    display: block;
    margin: 0 0 0 24px;

    &:first-child {
      margin: 0;
    }

    &:hover svg {
      fill: #dd9933;
      opacity: 1;
    }

    svg {
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
    }

  }
}

.aff-page-wrapper {
  box-shadow: 0 2px 0 #000;
}

.game-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    width: 104%;
    height: 104%;
    top: -2%;
    left: -2%;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  img {
    width: 100%;
    position: relative;
    z-index: 1;
    min-height: 100%;
    filter: blur(9px);
  }

}

.game-cover-btns {
  position: absolute;
  top: calc(50% - 32px);
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: center;


  .button {
    width: 203px;
    height: 56px;
    background: #DD9933;
    background-color: #e7a736;
    color: #fff;
    font-size: 1.136rem;
    line-height: 1.1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;

    &:first-child {
      margin: 0 30px 0 15px;
    }

    &:last-child {
      margin: 0 15px 0 30px;
    }

    &:hover {
      background-color: #dd9933;
    }

  }
}

.aff-game-header h1 {
  color: #fff;
  margin: 10px 0 20px;
}

.aff-game-details-row {
  display: flex;
}

.aff-game-details-tables {
  width: 28%;
}

.aff-game-details-tables:last-child {
  margin-left: 10%;
}

.aff-game-details-thumb {
  flex-grow: 0;
  margin-right: 16px;
  max-width: 276px;
}

.aff-game-details {
  padding: 40px 0 35px;
  background: #FFFFFF;


  .title h2 {
    margin-bottom: 39px;
  }

}

table.game-details-table tr td {
  background: transparent;
  padding: 7px 8px 7px 0;

  &:first-child {
    width: 68%;
    opacity: 0.7;
  }
}

// table.game-details-table.game-grid-details-table {
//   margin: 0 12px 23px;
//   width: calc(100% - 24px);

//   tr td {
//     padding: 2px 8px 2px 0;

//     &:first-child {
//       width: 60%;
//     }
//  }

// }


.game-grid-details-table {
  margin: -10px 12px 7px;
  width: calc(100% - 24px);

  .game-details-row {
    margin-bottom: 12px;

    span {
      line-height: 1.05;
      display: block;

      &:first-child {
        opacity: 0.7;
      }
    }
  }
}

.aff-details-table .data > a:last-child > .coma,
.aff-details-table .data > .coma:last-child {
      display:none;
}

.aff-main-items-grid .item.has-image-bg .data:before {
  background: linear-gradient(180deg,rgba(0,0,0,0.4) 50%,rgba(0,0,0,.8) 100%);
}

.aff-compare .aff-pros-cons ul li, 
.aff-compare .aff-main-items-grid .item .desc .text {
      color: #fff!important;
 }

@media screen and (min-width: 576px) {
  .sitemap-links {
    &__wrap {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: 50%;
    }
  }
}


@media screen and (min-width: 992px) {
  .sitemap-links {
    &__item {
      width: 33.3333%;
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 992px) {

  .game-cover-btns .button:last-child,
  .game-cover-btns .button:first-child {
    margin: 0 15px;
  }

}


@media only screen and (max-width: 992px) {

  .aff-footer .widget_nav_menu ul {
    display: block;
  }

  .aff-copyright .labels {
    margin-bottom: 0;
    width: 0;
  }

  .wpml-ls-legacy-dropdown-click {
    margin-left: 0;
  }

  .aff-copyright .copyright {
    padding-right: 80px;
    order: 1;
  }

  .social-links {
    order: 0;
    margin-bottom: 24px;
  }

  .aff-copyright .content {
    flex-flow: column;
    margin-bottom: 0;
    align-items: flex-start;
  }

  .aff-copyright {
    padding-bottom: 15px;
  }

  .aff-game-details-thumb {
    margin-bottom: 30px;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
  }

  .aff-game-details-thumb img {
    width: 100%;
  }

  .aff-game-details-row {
    flex-wrap: wrap;
  }

  .aff-game-details-tables:last-child {
    margin-left: 0;
  }

  .aff-game-details-tables {
    width: 50%;
  }

  table.game-details-table tr td:first-child {
    width: 55%;
  }

}


@media screen and (min-width: 768px) {
  .aff-bottom-cta .content {
    padding: 10px;
  }

  .aff-bottom-cta .cta {
    padding-top: 20px;
  }

  .aff-bottom-close {
    right: 20px;
    width: 30px;
    height: 30px;
  }
}


@media only screen and (max-width: 767px) {
  .footer-widgets .block {
    width: 50% !important;
  }

  .social-links a {
    margin: 0 0 0 20px;
  }

  .game-cover-btns .button:last-child {
    margin: 0 15px;
  }

  .game-cover-btns .button:first-child {
    margin: 0 15px 40px;
  }

  .game-cover-btns {
    flex-direction: column;
    align-items: center;
    top: calc(50% - 76px);
  }

  .page-template-sitemap .title {
    padding: 20px 0 0;
  }

  .aff-game-details-tables {
    width: 100%;
  }

  .aff-game-details .title h2 {
    margin-bottom: 19px;
  }

  .aff-game-details-thumb {
    margin-bottom: 10px;
    text-align: center;
  }

  .aff-game-details {
    padding: 20px 0;
  }

  .aff-game-details-thumb img {
    width: 70%;
  }

.game-grid-details-table {
  margin: -10px 16px 10px;
  width: calc(100% - 32px);

  // .game-details-row {
  //   margin-bottom: 0;

  //   span {
  //     display: inline-block;

  //     &:first-child {
  //       width: 55%;
  //     }
  //   }
    
  // }
  
}


}

@media only screen and (max-width: 400px) {

  .social-links a svg {
    max-width: 15px;
  }

  .social-links a {
    margin: 0 0 0 16px;
  }

}