.to-top {
  position: fixed;
  z-index: 10;
  width: 60px;
  height: 60px;
  right: 25px;
  bottom: 25px;
  background: #dd9933;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.4s;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);

  svg {
    width: 50%;
    height: 50%;
    transform: rotate(90deg);
  }

  &:hover {
    opacity: 0.8;
  }
}