@import "fixes";
@import "author-expert";
@import "title-meta";

.to-top {
  position: fixed;
  z-index: 10000001;
  width: 60px;
  height: 60px;
  right: 25px;
  bottom: 44px;
  background: #dd9933;
  color: #ffffff;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s;

  svg {
    width: 50%;
    height: 50%;
    transform: rotate(90deg);
  }

  &:hover {
    opacity: 0.8;
  }

  &.show {
    display: flex;
  }
}

body {
  &.hidden-scroll {
    .to-top {
      display: none;
    }
  }
}

.archive {
  .aff-is-author {
    margin-top: 60px;
  }
}

.aff-footer {
  .widget_nav_menu {
    .wpml-ls-legacy-dropdown-click {
      ul {
        display: block !important;
        li {
          background: #ffffff;

          a {
            display: block;
            padding-left: 5px;
            padding-right: 5px;
            color: inherit !important;
          }
        }
      }
    }
  }
}

.sitemap-links {
  padding: 0 22px;

  &__item {
    margin-top: 40px;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__count {
    position: relative;
    z-index: 2;
    display: inline-flex;
    width: 44px;
    height: 44px;
    background-color: #e7a736;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath fill='%23ffffff' d='M640 264v-16c0-8.84-7.16-16-16-16H344v-40h72c17.67 0 32-14.33 32-32V32c0-17.67-14.33-32-32-32H224c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h72v40H16c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16h104v40H64c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h160c17.67 0 32-14.33 32-32V352c0-17.67-14.33-32-32-32h-56v-40h304v40h-56c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h160c17.67 0 32-14.33 32-32V352c0-17.67-14.33-32-32-32h-56v-40h104c8.84 0 16-7.16 16-16zM256 128V64h128v64H256zm-64 320H96v-64h96v64zm352 0h-96v-64h96v64z'/%3E%3C/svg%3E");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    transform: translateX(-50%);

    &::before {
      content: "";
      position: absolute;
      left: calc(50% - 1px);
      bottom: -40px;
      z-index: -1;
      width: 1px;
      height: 40px;
      background: rgba(0, 0, 0, 0.1);
    }


    &::after {
      content: attr(data-count);
      position: absolute;
      right: 0;
      top: 0;
      width: 24px;
      height: 24px;
      background-color: #000000;
      color: #ffffff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.65em;
      line-height: 1;
      border: 1px solid #ffffff;
      transform: translate(44%, -44%);
    }
  }

  h2 {
    position: relative;
    margin: 0;
  }

  &__list {
    margin-top: 40px;
  }

  &__list-item {
    padding-left: 2.5rem !important;
    position: relative;
    list-style: none;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 17px;
      width: 2.5rem;
      height: 1px;
      background: rgba(0, 0, 0, 0.1);
    }

    &::after {
      content: "";
      position: absolute;
      left: -1px;
      top: 0;
      width: 1px;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
    }

    &:nth-last-of-type(1) {
      &::after {
        height: 17px;
      }
    }

    a {
      position: relative;
      color: inherit;

      &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='13' height='13'%3E%3Cpath fill='%23000000' d='M544 0h-.056l-96.167.167c-28.442.049-42.66 34.539-22.572 54.627l35.272 35.272L163.515 387.03c-4.686 4.686-4.686 12.284 0 16.97l8.484 8.485c4.687 4.686 12.285 4.686 16.971 0l296.964-296.964 35.272 35.272c20.023 20.023 54.578 5.98 54.627-22.572L576 32.055C576.03 14.353 561.675 0 544 0zm-.167 128.167l-96-96L544 32l-.167 96.167zM448 227.681V464c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h323.976c3.183 0 6.235 1.264 8.485 3.515l8 8c7.56 7.56 2.206 20.485-8.485 20.485H48c-8.837 0-16 7.163-16 16v352c0 8.837 7.163 16 16 16h352c8.837 0 16-7.163 16-16V235.68c0-3.183 1.264-6.235 3.515-8.485l8-8c7.559-7.559 20.485-2.205 20.485 8.486z'%3E%3C/path%3E%3C/svg%3E");
        position: relative;
        font-size: 16px;
        margin-right: 8px;
      }
    }
  }

}

.aff-news-post-wrapper .aff-post ul.sitemap-links__ul li {
  padding-left: 3rem !important;
  margin-bottom: 0 !important;
}

.aff-copyright {
  .labels {
    img {
      max-width: 60px;
    }
  }
}

.aff-bottom-cta .name {
  padding-right: 30px;
}

.aff-bottom-close {
  position: absolute;
  right: 8px;
  top: 10px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
}

.aff-bottom-close svg {
  width: 60%;
  height: 60%;
  transition: transform 0.4s ease-out;
}

.aff-bottom-close:hover svg {
  transform: rotate(180deg);
}

.aff-bottom-cta.compare-cta.hide {
  display: none!important;
}

@media screen and (min-width: 768px) {
  .aff-bottom-cta .content {
    padding: 10px;
  }

  .aff-bottom-cta .cta {
    padding-top: 20px;
  }

  .aff-bottom-close {
    right: 20px;
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 576px) {
  .sitemap-links {
    &__wrap {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: 50%;
    }
  }
}

@media screen and (min-width: 992px) {
  .sitemap-links {
    &__item {
      width: 33.3333%;
    }
  }
}