.to-top {
  position: fixed;
  z-index: 10;
  width: 60px;
  height: 60px;
  right: 25px;
  bottom: 25px;
  background: #dd9933;
  color: #ffffff;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.4s;

  svg {
    width: 50%;
    height: 50%;
    transform: rotate(90deg);
  }

  &:hover {
    opacity: 0.8;
  }

  &.show {
    display: flex;
  }
}

.single-products {
  .to-top {
    bottom: 170px;
  }
}

.aff-footer {
  .widget_nav_menu {
    .wpml-ls {
      ul {
        li {
          background: #ffffff;
          a {
            display: block;
            padding-left: 5px;
            padding-right: 5px;
            color: inherit!important;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .single-products {
    .to-top {
      bottom: 120px;
    }
  }
}

@media screen and (min-width: 992px) {
  .sitemap-links {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 33.3333%;
    }
  }
}