.wpml-ls-legacy-dropdown-click {
    width: 6em;    margin-left: 68px;
}
.aff-footer {
    padding-bottom: 40px;
}
.wpml-ls-legacy-dropdown-click a {
    border: none;
}

.aff-footer .widget_nav_menu .wpml-ls-legacy-dropdown-click ul li {
    background: transparent !important;
}

.wpml-ls-sidebars-footer-widget-4 a,
.wpml-ls-sidebars-footer-widget-4 .wpml-ls-current-language>a {
    background-color: #111111;
    opacity: 1 !important;
}

.aff-footer .widget_nav_menu .wpml-ls-legacy-dropdown-click ul li.wpml-ls-current-language>a {
    color: #fff !important;
    transition: color 0.3s ease-in-out;
    padding: 8px 8px;
    border: none;
    border-radius: 3px;
    background: #111111;
}

.wpml-ls-legacy-dropdown-click a:hover,
.wpml-ls-legacy-dropdown-click a:focus,
.wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a {
    color: #fff !important;
    background: #111111;
}

.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
    top: calc(100% + 4px);
    border-top: 1px solid #111;
    border-radius: 3px;
    overflow: hidden;
}

.aff-footer .widget_nav_menu .wpml-ls-legacy-dropdown-click ul li .wpml-ls-sub-menu a {
    color: #e7a736 !important;
    opacity: 1;
    padding: 7px 8px;
}

.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after {
    border: 0.3em solid transparent;
    border-top: 0.3em solid #fff;
    top: calc(50% - 0.12em);
}

.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle.wpml-open:after { 

    /* border: 0.3em solid transparent; */
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid #fff;    top: calc(50% - 0.512em);
    /* transform: rotate(180deg); */
}

.wpml-ls-legacy-dropdown-click .wpml-ls-flag {
    width: 28px;
    height: 20px;
}

.wpml-ls-legacy-dropdown-click .wpml-ls-flag+span {
    margin-left: 0.47em;
}

.footer-text-block {
    line-height: 1.12;
    color: #7A7A7A;
    margin-bottom: 55px;
    font-size: .909rem;
}

.footer-text-block p {
    margin: 0 0 12px;
    line-height: 1.12;
    font-size: .909rem;
}

.footer-logos {
    margin-bottom: 45px;
}

.footer-logos-inner {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    scrollbar-color: #111111 #000;
    scrollbar-width: 6px;
    scroll-snap-type: x mandatory;
}

.footer-logos-inner::-webkit-scrollbar {
    height: 6px;
    background-color: transparent;
}

.footer-logos-inner::-webkit-scrollbar-thumb {
    background-color: #111;
}

.footer-logos-inner::-webkit-scrollbar-thumb:hover {
    background-color: #222;
}

.footer-logos-inner a {
    display: inline-block;
    /* margin-right: 20px;
    margin-bottom: 20px; */
    width: fit-content;
}

.footer-logos-inner img {
    max-height: 42px;
    width: auto;
    max-width: max-content;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer-logos-inner a img {
    transition: opacity 0.3s ease;
}
.footer-logos-inner a:hover img{
    opacity: 0.9;
}
.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    display: block;
    margin: 0 0 0 24px;
}

.social-links a:first-child {
    margin: 0;
}

.social-links a svg {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.social-links a:hover svg {
    fill: #dd9933;
    opacity: 1;
}

.aff-copyright .content {
    justify-content: space-between;
}

.aff-page-wrapper {
    box-shadow: 0 2px 0 #000;
}


@media only screen and (max-width: 992px) {

    .aff-footer .widget_nav_menu ul {
        display: block;
    }

    .aff-copyright .labels {
        margin-bottom: 0;
        width: 0;
    }

    .aff-copyright .content {
        flex-flow: row;
        margin-bottom: 35px;
    }

    .social-links {
        margin-bottom: 24px;
    }

    .wpml-ls-legacy-dropdown-click {
        margin-left: 0;
    }

}

@media only screen and (max-width: 767px) {
    .footer-widgets .block {
        width: 50% !important;
    }

    .social-links a {
        margin: 0 0 0 20px;
    }


}

@media only screen and (max-width: 400px) {

    .social-links a svg {
        max-width: 15px;
    }

    .social-links a {
        margin: 0 0 0 16px;
    }

}