.wpml-ls-legacy-dropdown-click {
    width: 6em;
    margin-left: 68px;
}

.aff-footer {
    padding-bottom: 40px;
}

.wpml-ls-legacy-dropdown-click a {
    border: none;
}

.aff-footer .widget_nav_menu .wpml-ls-legacy-dropdown-click ul li {
    background: transparent !important;
}

.wpml-ls-sidebars-footer-widget-4 a,
.wpml-ls-sidebars-footer-widget-4 .wpml-ls-current-language>a {
    background-color: #111111;
    opacity: 1 !important;
}

.aff-footer .widget_nav_menu .wpml-ls-legacy-dropdown-click ul li.wpml-ls-current-language>a {
    color: #fff !important;
    transition: color 0.3s ease-in-out;
    padding: 8px 8px;
    border: none;
    border-radius: 3px;
    background: #111111;
}

.wpml-ls-legacy-dropdown-click a:hover,
.wpml-ls-legacy-dropdown-click a:focus,
.wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a {
    color: #fff !important;
    background: #111111;
}

.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
    top: calc(100% + 4px);
    border-top: 1px solid #111;
    border-radius: 3px;
    overflow: hidden;
}

.aff-footer .widget_nav_menu .wpml-ls-legacy-dropdown-click ul li .wpml-ls-sub-menu a {
    color: #e7a736 !important;
    opacity: 1;
    padding: 7px 8px;
}

.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after {
    border: 0.3em solid transparent;
    border-top: 0.3em solid #fff;
    top: calc(50% - 0.12em);
}

.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle.wpml-open:after {

    /* border: 0.3em solid transparent; */
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid #fff;
    top: calc(50% - 0.512em);
    /* transform: rotate(180deg); */
}

.wpml-ls-legacy-dropdown-click .wpml-ls-flag {
    width: 28px;
    height: 20px;
}

.wpml-ls-legacy-dropdown-click .wpml-ls-flag+span {
    margin-left: 0.47em;
}

.footer-text-block {
    line-height: 1.12;
    color: #7A7A7A;
    margin-bottom: 55px;
    font-size: .909rem;
}

.footer-text-block p {
    margin: 0 0 12px;
    line-height: 1.12;
    font-size: .909rem;
}

.footer-logos {
    margin-bottom: 45px;
}

.footer-logos-inner {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    scrollbar-color: #111111 transparent;
    scrollbar-width: 6px;
    scroll-snap-type: x mandatory;
}

.footer-logos-inner::-webkit-scrollbar {
    height: 6px;
    background-color: transparent;
}

.footer-logos-inner::-webkit-scrollbar-thumb {
    background-color: #111;
}

.footer-logos-inner::-webkit-scrollbar-thumb:hover {
    background-color: #222;
}

.footer-logos-inner a {
    display: inline-block;
    width: fit-content;
    width: -webkit-fit-content;
    min-width: 42px;
}

.footer-logos-inner img {
    max-height: 42px;
    width: auto;
    max-width: max-content;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer-logos-inner a img {
    transition: opacity 0.3s ease;
}

.footer-logos-inner a:hover img {
    opacity: 0.9;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    display: block;
    margin: 0 0 0 24px;
}

.social-links a:first-child {
    margin: 0;
}

.social-links a svg {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.social-links a:hover svg {
    fill: #dd9933;
    opacity: 1;
}

.aff-copyright .content {
    justify-content: space-between;
}

.aff-page-wrapper {
    box-shadow: 0 2px 0 #000;
}

.game-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.game-cover:before {
    content: '';
    position: absolute;
    width: 104%;
    height: 104%;
    top: -2%;
    left: -2%;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* @supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    .game-cover:before {
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
  } */


.game-cover img {
    width: 100%;
    position: relative;
    z-index: 1;
    min-height: 100%;
    filter: blur(9px);
}

.game-cover-btns {
    position: absolute;
    top: calc(50% - 32px);
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: center;
}

.game-cover-btns .button {
    width: 203px;
    height: 56px;
    background: #DD9933;
    background-color: #e7a736;
    color: #fff;
    font-size: 1.136rem;
    line-height: 1.4;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.game-cover-btns .button:first-child {
    margin: 0 30px 0 15px;
}

.game-cover-btns .button:last-child {
    margin: 0 15px 0 30px;
}

.game-cover-btns .button:hover {
    background-color: #dd9933;
}

.aff-game-header h1 {
    color: #fff;
    margin: 10px 0 20px;
}


@media only screen and (max-width: 1024px) and (min-width: 992px) {

    .game-cover-btns .button:last-child,
    .game-cover-btns .button:first-child {
        margin: 0 15px;
    }
}

@media only screen and (max-width: 992px) {

    .aff-footer .widget_nav_menu ul {
        display: block;
    }

    .aff-copyright .labels {
        margin-bottom: 0;
        width: 0;
    }

    .wpml-ls-legacy-dropdown-click {
        margin-left: 0;
    }

    .aff-copyright .copyright {
        padding-right: 80px;
        order: 1;
    }

    .social-links {
        order: 0;
        margin-bottom: 24px;
    }

    .aff-copyright .content {
        flex-flow: column;
        margin-bottom: 0;
        align-items: flex-start;
    }

    .aff-copyright {
        padding-bottom: 15px;
    }

}

@media only screen and (max-width: 767px) {
    .footer-widgets .block {
        width: 50% !important;
    }

    .social-links a {
        margin: 0 0 0 20px;
    }

    .game-cover-btns .button:last-child {
        margin: 0 15px;
    }

    .game-cover-btns .button:first-child {
        margin: 0 15px 40px;
    }

    .game-cover-btns {
        flex-direction: column;
        align-items: center;
        top: calc(50% - 76px);
    }



}

@media only screen and (max-width: 400px) {

    .social-links a svg {
        max-width: 15px;
    }

    .social-links a {
        margin: 0 0 0 16px;
    }

}